# File autentikasi WhatsApp
auth_info_baileys/

# File history chat
chat_history.json

# File database SQLite
helpdesk.db

# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File cache
.DS_Store
*.tmp
*.temp

# Package lock
yarn.lock
package-lock.json

# Build directories
dist/
build/

# Debug logs
npm-debug.log*

# Sistem operasi
Thumbs.db
firebaseConfig.js

# Folder media
media/
